@import 'tailwindcss';

:root {
  --color-surface: #111827;
  color-scheme: dark;
}

:root[data-theme='light'] {
  --color-surface: #f9fafb;
  color-scheme: light;
}

:root {
  font-family: system-ui, sans-serif;
  background: var(--color-surface);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}
